
<table class="maintable" >
<% @articles.each do |article| %>
    <tr>
    <td class="article_title"  >
      <%= link_to article.subject, article_path(article) %>
    </td>
    
    <%= render 'layouts/postbuttons', {article: article} %> 
  
  </tr>
  <tr>
    <td class="message" colspan="20" >
      <div class ="rcorners">
        
        <% if article.text.split.size > 30 %>
      
          <%= link_to article_path(article) do %>
             <%= article.text.truncate_words(30)  %><div class="readmore">
               <%= article.text.split.size - 30 %> words left</div>
          <% end %>

        <% elsif contains_insanely_long_words(article.text) %>
          <%= link_to article_path(article) do %>
            <%= article.text[0, 120] %><div class="readmore wrongformat">
              wrong format or meaningless text?</div>
            <% end %>
        <% else %>
      
          <%= link_to article.text, article_path(article) %>
      
        <% end %>
          <%= image_tag article.picture.url if article.picture? %>
      </div>
      </td>
  </tr>
<% end %>

</table>

  <%= will_paginate %>
