<% provide(:title, "Note #" + @article.id.to_s ) %>

<%= link_to "next>", article_path(@article.next) if not_first(@article) %>
<br>
<%= link_to "<prev", article_path(@article.previous) if not_last(@article) %>


<table class="maintable" >
  <tr>
    <th class="text-center" >
      <%= @article.subject %>
    </th>


    <%= render 'layouts/postbuttons', {article: @article} %> 


  </tr>
  
  <tr>
    <td class="message" colspan="20">
      <div class ="rcorners">
        <%= @article.text %>
        <%= render 'layouts/articlepicture', {article: @article}  %>
      </div>
    </td>
  </tr>
  

</table>