<% provide(:title, 'All users') %>
<h3>All users</h3>

  <%= will_paginate %>  
<% @users.each do |user| %>

<p>
      <%= link_to user do %>
        <div class="message rcorners">
          <div>
          <%= gravatar_for user, size: 50 %>
            <%= user.name %>
          <%= '&nbsp; <span class="glyphicon glyphicon-wrench">
          </span>'.html_safe if user.admin? %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, 
                        user, method: :delete,
                        data: { confirm: ". This can't be undone... U fuckin sure?" } %>
          <% end %>
      </div>
          
      <% end %>
      
      <% if !user.about.nil?  %>
        <div class="userabout">
          <%= user.about.truncate_words(30) %>
        </div>
      <% end %>
        </div>
</p>
<% end %>

  <%= will_paginate %>