<%= form_for :article, url: articles_path do |f| %>

<%= render 'layouts/errorcheck', {article: @article} %>

<p>
   <%= f.label :subject %><br>
   <%= f.text_field :subject %>
</p>
<p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
</p>

<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

<p>
  <%= f.submit "Post Note", class: "btn btn-primary"  %>
</p>
<% end %>


<%= render 'layouts/pictureuploadjs' %>